# npm
node_modules/
node_modules
*.log
*.gz

#logs
logs

# .env
# *.env  <-- UNCOMMENT UPON CLONING
# .env   <-- UNCOMMENT UPON CLONING

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs
